body
{
  background-color:#99ccff;
  text: black;
}

table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
}

th
{
  padding: 15px;
  background-color: grey;
  color: black;
}

td
{
  padding: 15px;
  color: maroon;
  background-color: LightGray;
}


.myButton {
  background-color: MediumSeaGreen;
  border: 1px solid black;
  color: black;
  padding: 5px 12px;
  text-align: center;
  color: Mediumblue;
  text-decoration: underline;
  display: inline-block;
  font-size: 13px;
  margin: 3px 1px;
  cursor: pointer;
}

.myDIV
{
	color: Crimson;
}

.date
{
  color: DimGrey;
}


.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}
