.headerbutton
{
  height:40px;
  background-color: yellow;
  border: none;
  color: Black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}
.regularbutton
{
  height:30px;
 background-color: white;
 border-color: Yellow;
 color: Black;
 padding: 10px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px
}


 table, th, td

 {
   border: 1px solid white;
   Border-collapse: collapse;
 }

 th, td {
   padding: 30px;
 }

 .changingbuttons
 {
   height:30px;
   width: 200px;
   background-color: white;
   border-color: yellow;
   color: Black;
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px
 }

 .Picturetext
 {
   color:yellow
 }

 .Spikeball
 {
   color: yellow
 }

 .regularbutton
 {
   height:30px;
   background-color: white;
   border-color: Yellow;
   color: Black;
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px
 }

 .subheaderbutton
 {
   height:30px;
   width: 250px;
   background-color: white;
   border-color: yellow;
   color: Black;
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px
 }

 .tournamentcell
 {
   color:white
 }

 .link
 {
   color:white
 }

 .tournamentheader
 {
   color:yellow
 }

 .darkheaderbuttons
 {
  height:40px;
  background-color:  Black;
  border-color: white;
  color: White;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
 }



 .regularbuttons
 {
   height:35px;
   background-color: White;
   border-color: Black;
   color: Black;
   padding: 7.5px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px
 }

 #usethis
 {
     font-size: 100px;
 }
