body
{
  background-color: lightblue;
  color: black;
}
table, th, td
{
  border: 2px solid black;
  border-collapse:collapse;
  background-color: white;
}
th,td
{
  padding: 10px;
}
th{
  background-color:black;
  color:white;
}

button
{
  background-color:grey;
  color: black;
}

img
{
  height:150
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
